{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>Home</title>
  </head>

  <body>
    <div class="topnav">
      <!--do not add href in mcc ics foa company this is for display-->
      <a class="active" href="{% url 'index' %}"
        ><i
          class="fa-solid fa-circle-notch fa-spin fa-lg"
          style="color: #fff"
        ></i>
        JDL</a
      >
      <!--navigation-->
      <div class="topnav-right">
        <a class="active" href="{% url 'index' %}">Home</a>
        <a href="#">Login</a>
      </div>
    </div>

    <!--uses for the text image-->
    <div class="wd"></div>
  </body>
  <footer class="mt-auto mb-4">
    <div class="center">
      <span style="color: black">
        <!--&copy means © -->
        <!--included javascript get current year-->
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Jayvie's Student System
      </span>
    </div>
  </footer>
</html>
