{% extends 'auth_user/base.html/' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block css %}<link rel="stylesheet" type ="text/css" href="{% static 'css/index.css' %}"> {% endblock %}
{% block header %} 

<ul>
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'add' %}">Add Data</a></li>
  <li><a href="#">Edit Data</a></li>
  <li><a href="#">Delete Data</a></li>
  <li><a href="#">LogOut</a></li>
</ul> {% endblock %}

{% block body %}

<div class="container-sm">
  <div class="row">
    <div class="col=12">
      <div class="card bg-light mg-4 mb-4">
        <div class="card-header">
          <i class="fa-solid fa-list fa-lg"></i> Student Records
          <div class="card-body">
            <p class="card-text">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Student Number</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Middle Name</th>
                      <th scope="col">Birthday</th>
                      <th scope="col">Year</th>
                      <th scope="col">Course</th>
                      <th scope="col">Semester </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--Initialize loop to call students data in objects-->
                    {% for userdata in userdatas %}
                    <tr>
                      <!--calling students data inside the loop-->
                      <td>{{ userdata.student_number }}</td>
                      <td>{{ userdata.last_name }}</td>
                      <td>{{ userdata.first_name }}</td>
                      <td>{{ userdata.email }}</td>
                      <td>{{ userdata.course }}</td>
                      <td>{{ userdata.gpa }}</td>
                      <td>
                        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}