{% extends 'auth_user/base.html/' %}
{% load static %}
{% block title %} Edit Student {% endblock %}
{% block css %}
  <link rel="stylesheet" type ="text/css" href="{% static 'css/index.css' %}"> 
{% endblock %}
{% block header %} 
  <ul>
      <li><a href="{% url 'index' %}">Dashboard</a></li>
      <li><a href="{% url 'add' %}">Add Data</a></li>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'index' %}">{{ request.user.username }}</a></li>
        <li><a href="{% url 'logout_user' %}">Logout</a></li>
      {% else %}
      {% endif %}
  </ul> 
{% endblock %}
{% block body %}
  {% if success %}
    <div class="alert alert-success" role="alert">
      The student has been successfully updated!
      <a href="{% url 'database' %}" class="alert-link">Go to Home Page.</a>
    </div>
  {% else %}
    <div class="container-sm">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="card bg-light mb-3">
            <div class="card-header">
              <i class="fa-solid fa-address-card fa-lg"></i> Student Registration
            </div>
            <div class="card-body">
              <form action="" method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{% url 'database' %}" class="btn btn-secondary">Cancel</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %} 
{% endblock %}
